.card{
  max-width: 100%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.head{
  font-size: 32px;
}
.btns{
  background-color: rgb(205, 35, 35);
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
.category{
  background-color: #000;
  color: antiquewhite;
}
.navbar{
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}